kubernetes
fastapi
uvicorn[standard]
fastapi-health
python-jose[cryptography]
passlib[argon2]

python-dotenv
python-multipart
simplejson
requests

k8swatcher

azure-mgmt-dns
azure-mgmt-privatedns
azure-identity
msrestazure
pyyaml